* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 120px;
  background: linear-gradient(267.8deg, #99079e 53%, #41005a 70%);
}
.search-bar-container {
  display: flex;
  margin-top: 30px;
  margin-left: 20px;
  width: 25%;
}
.search-bar-container span {
  display: inline-block;
  background-image: url(./Assets/Icons/search.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 14px;
  height: 14px;
  margin-right: 4px;
  margin-bottom: 4px;
}
.title-container {
  margin-top: 20px;
  margin-left: 180px;
  width: 25%;
  text-align: center;
}
.store-container {
  margin-top: 20px;
  width: 25%;
}
.personal-container {
  width: 25%;
  margin-top: 20px;
}
.search-bar-container .search-bar {
  width: 100px;
  border: 1px solid #141313;
  border-radius: 5px;
  margin-bottom: 8px;
  text-align: center;
}
.search-bar-container .facebook {
  margin-left: 10px;
  text-decoration: none;
  color: #000000;
}
.search-bar-container .instagram {
  margin-left: 6px;
  text-decoration: none;
  color: #000000;
}
.facebook img{
  height: 22px;
  width: 22px;
}
.instagram img {
  height: 22px;
  width: 22px;
}
.title-container {
  font-family: "Exo 2", sans-serif;
  font-size: 1.4rem;
}
.store-container {
  margin-left: 120px;
}
.store-container a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #000000;
}
.store-container span {
  display: inline-block;
  background-image: url(./Assets/Icons/down-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 12px;
  height: 12px;
}
.personal-container {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}
.personal-container .signup-link {
  font-size: 1.4rem;
  text-decoration: none;
}
.personal-container .personal-link {
  font-size: 1.4rem;
  text-decoration: none;
}
.main-container {
  width: 100%;
  height: auto;
}
.personal-info-container {
  height: auto;
  background-color: #ffffff00;
}
.products-main-container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 40px;
  height: 280px;
  background-image: url(./Assets/Pics/pasteleria-background.jfif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.products-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.products-container__product {
  margin-top: 15px;
}
.products-container img{
  width: 150px;
  height: 150px;
  margin-left: 20px;
}
.price-container {
  margin-left: 20px;
}