* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: auto;
}
.search-bar-container {
  margin-top: 20px;
  margin-left: 20px;
  width: 25%;
}
.title-container {
  margin-top: 20px;
  margin-left: 180px;
  width: 25%;
  text-align: center;
}
.store-container {
  margin-top: 20px;
  width: 25%;
}
.personal-container {
  width: 25%;
  margin-top: 20px;
}
.search-bar-container .search-bar {
  width: 100px;
  border: 1px solid #141313;
  border-radius: 5px;
}
.search-bar-container .facebook {
  margin-left: 10px;
  text-decoration: none;
  color: #000000;
}
.search-bar-container .instagram {
  margin-left: 6px;
  text-decoration: none;
  color: #000000;
}