* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 80px;
}
.search-bar-container {
  width: 25%;
}
.title-container {
  width: 25%;
}
.store-container {
  width: 25%;
}
.personal-container {
  width: 25%;
}